header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.navbar {
  color: rgb(224, 254, 99);
}

/* Post Card */
.card {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.no-underline {
  color: aliceblue;
  text-decoration: none;
}
